header {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
      position: sticky;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #333;
    z-index: 1000;
    padding: 20px 8%;
    background-color:#222222;
    top: 0;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
      
   
    
}

#nav_logo {
  font-size: 20px;
  color: #FFFF;
  
}
/* aaaa */
#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}
/* banana */
.nav-item a {
  text-decoration: none;
  color: #A0A0A0;
  font-weight: 600;
  font-size: 18px;
}

.nav-item.active a {
  color: #A0A0A0;
  border-bottom: 3px solid #3B82F6;
}

#mobile_btn {
  display: none;
}

#mobile_menu {
    display: none;
}

 @media screen and (max-width: 1170px) {
  #nav_list,
  #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }
}

.brand-title {
  color: #FFFFFF;
  display: flex;
    flex-direction: column; /* Faz o "Tech" ficar em cima e o "Axiom" embaixo */
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.brand-sub {
  color: #3B82F6;
  display: flex;
    flex-direction: column; /* Faz o "Tech" ficar em cima e o "Axiom" embaixo */
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}